<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.benz.usecase.query.UseCaseMapper">

    <resultMap id="useCaseResultMap" type="com.benz.usecase.query.UseCaseResult">
        <id column="id" property="id"/>
        <result column="analysismodel_text" property="analysisModelText"/>
        <result column="contact" property="contact"/>
        <result column="contributionbu" property="contributionBU"/>
        <result column="data_source" property="dataSource"/>
        <result column="data_type_description" property="dataTypeDescription"/>
        <result column="result_text" property="resultText"/>
        <result column="scenario" property="scenario"/>
        <result column="stage" property="stage"/>
        <result column="subject" property="subject"/>
        <result column="afrom_value" property="fromDate"/>
        <result column="ato_value" property="toDate"/>
        <result column="value" property="value"/>
        <collection property="resultFiles" ofType="com.benz.usecase.query.FileResult">
            <result column="rurl" property="url"/>
            <result column="rfileName" property="fileName"/>
        </collection>
        <collection property="analysisModelFiles" ofType="com.benz.usecase.query.FileResult">
            <result column="aurl" property="url"/>
            <result column="afileName" property="fileName"/>
        </collection>
    </resultMap>

    <select id="findAll" parameterType="com.benz.usecase.query.UseCaseParameter" resultMap="useCaseResultMap">
        select
        id,
        subject,
        value,
        scenario,
        result_text,
        data_source,
        data_type_description,
        analysismodel_text,
        contributionbu,
        stage,
        afrom_value,
        ato_value,
        contact
        from
        use_case
        WHERE 1 = 1
        <if test="subject != null">
            AND subject like #{subject}
        </if>
    </select>

    <select id="findById" resultMap="useCaseResultMap">
        select
            uc.id,
            subject,
            value,
            scenario,
            result_text,
            data_source,
            data_type_description,
            analysismodel_text,
            contributionbu,
            stage,
            afrom_value,
            ato_value,
            contact,
            rf.url as rurl,
            rf.file_name as rfileName,
            af.url as aurl,
            af.file_name as afileName
        from
            use_case uc
            left join result_file rf on uc.id = rf.case_id
            left join analysis_model_file af on uc.id=af.case_id
        where
            uc.id = #{id}
    </select>

</mapper>